In [2]:
import numpy as np
import pandas as pd

In [140]:
def volumetric_analysis(df):
 print("Data Types:\n" + str(df.dtypes))
 print("\nRows and Columns: " + str(df.shape))
 print("\nColumns Names:\n" + str(df.columns))
 print("\nDuplicate Values:\n" + str(df[df.duplicated()].shape))
 print("\nNull Values:\n" + str(df.apply(lambda x: sum(x.isnull()) / len(df))))
 print("\nNull Values:\n" + str(df.apply(lambda x: sum(x.isnull()) )))

In [141]:
df= pd.read_csv(r'/Users/alinabaciu/Desktop/telco_customers.csv')

In [142]:
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [118]:
volumetric_analysis(df)

Data Types:
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

Rows and Columns: (7043, 21)

Columns Names:
Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

Duplicate Values:
(0, 21)

Null Values:
customerID          0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
Churn               0.0
dtype: float64

Null Values:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [143]:
df.rename(columns = lambda x: "".join([w[0].upper() + w[1:] for w in x.split()]), inplace = True)

In [120]:
df.columns

Index(['CustomerID', 'Gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'Tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [144]:
#excluded = ['Tenure','MonthlyCharges','TotalCharges']
#string_columns = [ col for col in df.columns if col not in excluded]
#df[string_columns] = df[string_columns].astype(str)

#df["SeniorCitizen"] = df["SeniorCitizen"].str.replace("0","No")
#df["SeniorCitizen"] = df["SeniorCitizen"].str.replace("1","Yes")

# Replace empty total charges with 0 for customers with 0 month tenure period
df["TotalCharges"] = df["TotalCharges"].replace(" ", 0)

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

In [146]:
df.describe()

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043.000000,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,NaN,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,NaN,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,NaN,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,2279.734304,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,2266.794470,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,0.000000,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,398.550000,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,1394.550000,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,3786.600000,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,8684.800000,NaN

In [137]:
pd.DataFrame({'Frequency Distribution': df["Gender"].value_counts(),'Relative Frequency': df["Gender"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

        Frequency Distribution Relative Frequency
Male                      3555              50.5%
Female                    3488              49.5%

In [46]:
pd.DataFrame({'Frequency Distribution': df["SeniorCitizen"].value_counts(),'Relative Frequency': df["SeniorCitizen"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
No                     5901              83.8%
Yes                    1142              16.2%

In [47]:
pd.DataFrame({'Frequency Distribution': df["Partner"].value_counts(),'Relative Frequency': df["Partner"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
No                     3641              51.7%
Yes                    3402              48.3%

In [48]:
pd.DataFrame({'Frequency Distribution': df["Dependents"].value_counts(),'Relative Frequency': df["Dependents"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
No                     4933              70.0%
Yes                    2110              30.0%

In [50]:
pd.DataFrame({'Frequency Distribution': df["Dependents"].value_counts(),'Relative Frequency': df["Dependents"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
No                     4933              70.0%
Yes                    2110              30.0%

In [51]:
pd.DataFrame({'Frequency Distribution': df["PhoneService"].value_counts(),'Relative Frequency': df["PhoneService"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
Yes                    6361              90.3%
No                      682               9.7%

In [52]:
pd.DataFrame({'Frequency Distribution': df["MultipleLines"].value_counts(),'Relative Frequency': df["MultipleLines"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                  Frequency Distribution Relative Frequency
No                                  3390              48.1%
Yes                                 2971              42.2%
No phone service                     682               9.7%

In [53]:
pd.DataFrame({'Frequency Distribution': df["InternetService"].value_counts(),'Relative Frequency': df["InternetService"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

             Frequency Distribution Relative Frequency
Fiber optic                    3096              44.0%
DSL                            2421              34.4%
No                             1526              21.7%

In [54]:
pd.DataFrame({'Frequency Distribution': df["OnlineSecurity"].value_counts(),'Relative Frequency': df["OnlineSecurity"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     3498              49.7%
Yes                                    2019              28.7%
No internet service                    1526              21.7%

In [55]:
pd.DataFrame({'Frequency Distribution': df["OnlineBackup"].value_counts(),'Relative Frequency': df["OnlineBackup"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     3088              43.8%
Yes                                    2429              34.5%
No internet service                    1526              21.7%

In [56]:
pd.DataFrame({'Frequency Distribution': df["DeviceProtection"].value_counts(),'Relative Frequency': df["DeviceProtection"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     3095              43.9%
Yes                                    2422              34.4%
No internet service                    1526              21.7%

In [57]:
pd.DataFrame({'Frequency Distribution': df["TechSupport"].value_counts(),'Relative Frequency': df["TechSupport"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     3473              49.3%
Yes                                    2044              29.0%
No internet service                    1526              21.7%

In [58]:
pd.DataFrame({'Frequency Distribution': df["StreamingTV"].value_counts(),'Relative Frequency': df["StreamingTV"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     2810              39.9%
Yes                                    2707              38.4%
No internet service                    1526              21.7%

In [59]:
pd.DataFrame({'Frequency Distribution': df["StreamingMovies"].value_counts(),'Relative Frequency': df["StreamingMovies"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                     Frequency Distribution Relative Frequency
No                                     2785              39.5%
Yes                                    2732              38.8%
No internet service                    1526              21.7%

In [60]:
pd.DataFrame({'Frequency Distribution': df["Contract"].value_counts(),'Relative Frequency': df["Contract"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                Frequency Distribution Relative Frequency
Month-to-month                    3875              55.0%
Two year                          1695              24.1%
One year                          1473              20.9%

In [62]:
pd.DataFrame({'Frequency Distribution': df["PaperlessBilling"].value_counts(),'Relative Frequency': df["PaperlessBilling"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
Yes                    4171              59.2%
No                     2872              40.8%

In [63]:
pd.DataFrame({'Frequency Distribution': df["PaymentMethod"].value_counts(),'Relative Frequency': df["PaymentMethod"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

                           Frequency Distribution Relative Frequency
Electronic check                             2365              33.6%
Mailed check                                 1612              22.9%
Bank transfer (automatic)                    1544              21.9%
Credit card (automatic)                      1522              21.6%

In [96]:
pd.DataFrame({'Frequency Distribution': df["Churn"].value_counts(),'Relative Frequency': df["Churn"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'})

     Frequency Distribution Relative Frequency
No                     5163              73.4%
Yes                    1869              26.6%

In [64]:
pd.DataFrame({'median': df['Tenure'].median(), 'min': df['Tenure'].min(),'max': df['Tenure'].max(), 'mean': df['Tenure'].mean()},index=[0])

   median  min  max       mean
0    29.0    0   72  32.371149

In [65]:
pd.DataFrame({'median': df['MonthlyCharges'].median(), 'min': df['MonthlyCharges'].min(),'max': df['MonthlyCharges'].max(), 'mean': df['MonthlyCharges'].mean()},index=[0])

   median    min     max       mean
0   70.35  18.25  118.75  64.761692

In [94]:
pd.DataFrame({'median': df['TotalCharges'].median(), 'min': df['TotalCharges'].min(),'max': df['TotalCharges'].max(), 'mean': df['TotalCharges'].mean()},index=[0])

     median   min     max         mean
0  1397.475  18.8  8684.8  2283.300441

In [108]:
copy_df = df.copy()
copy_df['TotalCharges']=sorted(copy_df['TotalCharges'])
Q1, Q3= np.percentile(copy_df['TotalCharges'],[25,75])
IQR = Q3 - Q1
lower_bound = Q1 -(1.5 * IQR) 
upper_bound = Q3 +(1.5 * IQR) 
out= copy_df[(copy_df['TotalCharges']<lower_bound) | (copy_df['TotalCharges']>upper_bound)]
out.shape[0]

0

In [109]:
copy_df = df.copy()
copy_df['MonthlyCharges']=sorted(copy_df ['MonthlyCharges'])
Q1, Q3= np.percentile(copy_df['MonthlyCharges'],[25,75])
IQR = Q3 - Q1
lower_bound = Q1 -(1.5 * IQR) 
upper_bound = Q3 +(1.5 * IQR) 
out= copy_df[(copy_df['MonthlyCharges']<lower_bound) | (copy_df['MonthlyCharges']>upper_bound)]
out.shape[0]

0

In [110]:
copy_df = df.copy()
copy_df['Tenure']=sorted(copy_df['Tenure'])
Q1, Q3= np.percentile(copy_df['Tenure'],[25,75])
IQR = Q3 - Q1
lower_bound = Q1 -(1.5 * IQR) 
upper_bound = Q3 +(1.5 * IQR) 
out= copy_df[(copy_df['Tenure']<lower_bound) | (copy_df['Tenure']>upper_bound)]
out.shape[0]

0

In [112]:
mean = np.mean(df['MonthlyCharges'])
std = np.std(df['MonthlyCharges'])
df["charges_z_score"] = (df['MonthlyCharges'] - mean)/std

# create empty list
outlier_indexes = []

# add index numbers of outliers to list
outlier_indexes.extend(df.index[df['charges_z_score']>3].tolist())
outlier_indexes.extend(df.index[df['charges_z_score']<-3].tolist())

new_data = df.drop(df.index[outlier_indexes])

print(df.shape[0], new_data.shape[0])
print(df.shape[0]-new_data.shape[0])

7032 7032
0

In [114]:
mean = np.mean(df['TotalCharges'])
std = np.std(df['TotalCharges'])
df["charges_z_score"] = (df['TotalCharges'] - mean)/std

# create empty list
outlier_indexes = []

# add index numbers of outliers to list
outlier_indexes.extend(df.index[df['charges_z_score']>3].tolist())
outlier_indexes.extend(df.index[df['charges_z_score']<-3].tolist())

new_data = df.drop(df.index[outlier_indexes])

print(df.shape[0], new_data.shape[0])
print(df.shape[0]-new_data.shape[0])

7032 7032
0

In [115]:
mean = np.mean(df['Tenure'])
std = np.std(df['Tenure'])
df["charges_z_score"] = (df['Tenure'] - mean)/std

# create empty list
outlier_indexes = []

# add index numbers of outliers to list
outlier_indexes.extend(df.index[df['charges_z_score']>3].tolist())
outlier_indexes.extend(df.index[df['charges_z_score']<-3].tolist())

new_data = df.drop(df.index[outlier_indexes])

print(df.shape[0], new_data.shape[0])
print(df.shape[0]-new_data.shape[0])

7032 7032
0